# AE2 rv3-beta-990 made CraftingCPUCluster extensible. Keep the same extension
# surface when NeoECOAE is loaded with older GTNH AE2 builds such as beta-977.
public-f appeng.me.cluster.implementations.CraftingCPUCluster
public appeng.me.cluster.implementations.CraftingCPUCluster$TaskProgress
public appeng.me.cluster.implementations.CraftingCPUCluster$TaskProgress <init>()V
public appeng.me.cluster.implementations.CraftingCPUCluster$finalOutput

protected appeng.me.cluster.implementations.CraftingCPUCluster usedOps
protected appeng.me.cluster.implementations.CraftingCPUCluster tasks
protected appeng.me.cluster.implementations.CraftingCPUCluster workableTasks
protected appeng.me.cluster.implementations.CraftingCPUCluster knownBusyMediums
protected appeng.me.cluster.implementations.CraftingCPUCluster myLastLink
protected appeng.me.cluster.implementations.CraftingCPUCluster myName
protected appeng.me.cluster.implementations.CraftingCPUCluster suspended
protected appeng.me.cluster.implementations.CraftingCPUCluster inventory
protected appeng.me.cluster.implementations.CraftingCPUCluster finalOutput
protected appeng.me.cluster.implementations.CraftingCPUCluster waiting
protected appeng.me.cluster.implementations.CraftingCPUCluster waitingFor
protected appeng.me.cluster.implementations.CraftingCPUCluster availableStorage
protected appeng.me.cluster.implementations.CraftingCPUCluster machineSrc
protected appeng.me.cluster.implementations.CraftingCPUCluster accelerator
protected appeng.me.cluster.implementations.CraftingCPUCluster isComplete
protected appeng.me.cluster.implementations.CraftingCPUCluster remainingOperations
protected appeng.me.cluster.implementations.CraftingCPUCluster somethingChanged

protected appeng.me.cluster.implementations.CraftingCPUCluster postChange(Lappeng/api/storage/data/IAEStack;Lappeng/api/networking/security/BaseActionSource;)V
protected appeng.me.cluster.implementations.CraftingCPUCluster postCraftingStatusChange(Lappeng/api/storage/data/IAEStack;)V
protected appeng.me.cluster.implementations.CraftingCPUCluster completeJob()V
protected appeng.me.cluster.implementations.CraftingCPUCluster executeCrafting(Lappeng/api/networking/energy/IEnergyGrid;Lappeng/me/cache/CraftingGridCache;)V
protected appeng.me.cluster.implementations.CraftingCPUCluster storeItems()V
protected appeng.me.cluster.implementations.CraftingCPUCluster getWorld()Lnet/minecraft/world/World;
protected appeng.me.cluster.implementations.CraftingCPUCluster done()V
